<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="text/javascript" src="https://code.jquery.com/jquery.min.js"></script>
<script type="text/javascript" src="https://getbootstrap.com/dist/js/bootstrap.js"></script>
<link type="text/css" rel="stylesheet" href="https://getbootstrap.com/dist/css/bootstrap.css"/>

  </head>

  <body>

<% if user_signed_in? %>

Hello,<%= current_user.username %> | <%= link_to 'Sign Out',destroy_user_session_path,method: :delete %>

<% else %>

<%= link_to 'Sign In', new_user_session_path %> 
<% end %>
<br />
<br />
    <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    <%= yield %> 
  </body>
</html>
